:root { 
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --azul: #00030C;
    --cor-de-fundo: #000000;
    }

    body {
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal)
    }
    *{
        margin: 0;
        padding: 0;
    }